@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Lora:wght@400;700&family=Russo+One&display=swap');

body {
  color: #fc1010;
  background-color: #080808;
  font-family: 'Montserrat', sans-serif;
}


.submit,
.close-open-btn,
.btn-logout  {
  margin-top: 1rem;
  background-color: #bc4b51;
  border: none;
  cursor: pointer;
}

.submit:hover, 
.submit:focus,
.close-open-btn:hover,
.close-open-btn:focus,
.btn-logout:hover,
.btn-logout:focus {
  opacity: 0.9;
  background-color: #bc4b51;
}

.card-title {
  text-align: center;
  font-size: 28px;
  padding-bottom: 3rem;
  letter-spacing: 2px;
}

.btn-logout {
  margin: 1.5rem;
  position: absolute;
  padding: 7px 12px;
  font-size: 20px;
}

.text-title {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
}